@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
/*font-family: 'Source Code Pro', monospace;*/
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
/*font-family: 'Yellowtail', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
/*font-family: 'Oswald', sans-serif;*/
/* Estilos para ion-header */
ion-header ion-toolbar {
  background-color: #1a237e;
}

ion-header ion-toolbar ion-title {
  font-family: 'Yellowtail', cursive;
  color: #ffffff;
}

ion-header ion-toolbar ion-img {
  height: 20px;
  width: 20px;
}

.itens_p{
  font-family: 'Source Code Pro', monospace;
  color: #f6f9ff;

}

.miniTitle{
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
  color: #b1cbff;
}
.miniTitleCategory{
  font-family: 'Source Code Pro', monospace;
  font-weight: bolder;
  font-style: italic;
  color: #b1cbff;

}
.category{
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: vmin;
  font-style: oblique;
  color: #b1cbff;
  }

  .despesas_variaveis, .saldos, .cards, .despesas_marcadas{
    border: 2px solid #b1cbff;
  }

.img{
  height: 20px;
  width: 20px;
}
.label_title{
  margin-left: calc(2vmin + 10px);
  color: #b1cbff;

}
.salario_restante{
 font-size: large;
 font-style: italic;
 color: #b1cbff;

}
/* Estilos para ion-header */
ion-header ion-toolbar {
  background-color: #1a237e;
}

ion-header ion-toolbar ion-title {
  font-family: 'Yellowtail', cursive;
  color: #ffffff;
}

ion-header ion-toolbar ion-img {
  height: 20px;
  width: 20px;
}

/* Estilos para ion-content */
ion-content {
  background-color: #f3f5f9;
}

ion-content ion-searchbar.search {
  background-color: #ffffff;
  color: #000000;
}

ion-content ion-select.itens_p {
  background-color: #ffffff;
  color: #000000;
}

ion-content ion-select.itens_p::placeholder {
  color: #757575;
}

ion-content ion-select.itens_p::placeholder-opacity {
  color: #b1cbff;
  opacity: 1;
}

ion-content ion-select.itens_p::part(icon) {
  color: #757575;
  opacity: 1;
}

ion-content ion-select.itens_p::part(selected-text) {
  color: #ffffff;
}

ion-content ion-select.itens_p::part(selected-item) {
  background-color: #1a237e;
  color: #ffffff;
}

ion-content ion-item {
  background-color: #ffffff;
}

ion-content ion-item ion-label {
  font-family: 'Source Code Pro', monospace;
  color: #93deff;
}

ion-content ion-item ion-label h2 {
  color: #1a237e;
}

ion-content section.saldos,
ion-content section.despesas_variaveis {
  border: 2px solid #1a237e;
}

ion-content ion-card {
  background-color: #ffffff;
}

ion-content ion-card ion-card-header ion-card-title.titles {
  font-family: 'Yellowtail', cursive;
  color: #1a237e;
}

ion-content ion-card ion-card-content ion-list.itens_p[inset=true] ion-item {
  ion-label.miniTitle {
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    color: #1a237e;
  }
}
