<ion-header>
  <ion-toolbar>
    <ion-title>
      Gastos financeiros - Salário Mínimo
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size-md="6">
        <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="filterExpenses()"></ion-searchbar>
        <ion-select class="itens_p" [(ngModel)]="selectedCategory" (ionChange)="filterExpenses()">
          <ion-select-option value="">All Categories</ion-select-option>
          <ion-select-option value="comida">Alimentação</ion-select-option>
          <ion-select-option value="contas">Contas</ion-select-option>
          <ion-select-option value="casa">Casa e Decoração</ion-select-option>
          <ion-select-option value="trasnporte">Transporte</ion-select-option>
        </ion-select>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Dica Master</ion-card-title>
            <ion-card-subtitle>Direto dos Especialistas</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <ion-list class="itens_p" [inset]="true">
              <ion-item>
                <ion-label>Faça um orçamento.
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Estabeleça metas para economizar.
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Restrinja seus gastos do dia a dia.
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Evite gastos desnecessários.
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Fique longe das dívidas.
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Separe um valor para as despesas anuais.

                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Tenha uma reserva para emergências.

                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Separe as contas pessoais das contas profissionais.
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-md="6">
        <h1 class="titles">Despesas Marcadas</h1>
    <ion-item *ngFor="let expense of filteredExpenses">
      <ion-label>
        <h2>{{ expense.title }}</h2>
        <p class="miniTitle">Valor: {{ expense.valor }}</p>
        <p class="miniTitle">Data: {{ expense.date }}</p>
        <p class="miniTitle">Categoria: {{ expense.category }}</p>
      </ion-label>
    </ion-item>

    <h1 class="titles">Despesas Variáveis</h1>
    <ion-item>
      <ion-label class="miniTitle" position="floating">O que comprou?</ion-label>
      <ion-input class="miniTitle" type="text" [(ngModel)]="newExpenseTitle"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="miniTitle" position="floating">Valor</ion-label>
      <ion-input class="miniTitle" type="number" [(ngModel)]="newExpenseAmount"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="miniTitle" position="floating">Categoria</ion-label>
      <ion-input class="miniTitle" type="text" [(ngModel)]="newCategory"></ion-input>
      <ion-button class="miniTitle" expand="fill" (click)="addExpense()">Coloque mais despesas</ion-button>

    </ion-item>

      </ion-col>
      <ion-col size-md="12">
        <h1 class="titles">Saldos</h1>

        <ion-list>
          <div class="total-section">
            <p class="miniTitle">Total de despesas: {{ totalExpenses }}</p>
            <p class="miniTitle">Salário sobrando: {{ remainingAmount }}</p>
          </div>
          <p>Total Gasto: {{ totalExpenses }}</p>

        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>




</ion-content>


