.reforma{
  writing-mode: vertical-lr;
  border: solid rgb(255, 253, 253) 1px;
  display: inline-block;
  height: 350px;
  width: 300px;
  margin: 5px;
  text-orientation: upright;

}
.lista_header, .item_lista{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
}

.chart-container {
  position: relative;
  margin: auto;
}
