<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Rastrador de Saúde
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

    <p class="reforma">
    Estamos em reforma para melhor te atender, <em><b>me deixa codar!</b></em><br>&nbsp;&nbsp;&nbsp;&nbsp;
    </p>

    <p class="reforma">
      Estamos em reforma para melhor te atender, <em><b>me deixa codar!</b></em><br>&nbsp;&nbsp;&nbsp;&nbsp;
      </p>
      <p class="reforma">
      Estamos em reforma para melhor te atender, <em><b>me deixa codar!</b></em><br>&nbsp;&nbsp;&nbsp;&nbsp;
      </p>
      <p class="reforma">
      Estamos em reforma para melhor te atender, <em><b>me deixa codar!</b></em><br>&nbsp;&nbsp;&nbsp;&nbsp;
      </p>
      <p class="reforma">
      Estamos em reforma para melhor te atender, <em><b>me deixa codar!</b></em><br>&nbsp;&nbsp;&nbsp;&nbsp;
      </p>
      <p class="reforma">
      Estamos em reforma para melhor te atender, <em><b>me deixa codar!</b></em><br>&nbsp;&nbsp;&nbsp;&nbsp;
      </p>
      <p class="reforma">
      Estamos em reforma para melhor te atender, <em><b>me deixa codar!</b></em><br>&nbsp;&nbsp;&nbsp;&nbsp;
      </p>
      <p class="reforma">
      Estamos em reforma para melhor te atender, <em><b>me deixa codar!</b></em><br>&nbsp;&nbsp;&nbsp;&nbsp;
      </p>
      <p class="reforma">
      Estamos em reforma para melhor te atender, <em><b>me deixa codar!</b></em><br>&nbsp;&nbsp;&nbsp;&nbsp;
      </p>
      <p class="reforma">
      Estamos em reforma para melhor te atender, <em><b>me deixa codar!</b></em><br>&nbsp;&nbsp;&nbsp;&nbsp;
      </p>

</ion-content>
